.content {
  background-color: #ffff;

  &__catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, $widthCard);
    column-gap: $cardColumnGap;
    row-gap: 50px;
    justify-content: center;
    max-width: $cardsNumderOnRow * $widthCard + $cardColumnGap * 3;
    margin: 50px auto;
  }
}
