.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, auto);
    column-gap: 20px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    height: $navLinkHeight;

    @include mediumText;
    text-transform: uppercase;
    color: #000;

    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $blue;
    }

    &--is-active {
      color: $blue;
      position: relative;

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        border-bottom: 4px solid $blue;
        border-radius: 2px;

        content: "";
      }
    }
  }
}
